---
import Layout from '../../layouts/Layout.astro'

const allPosts = Object.values(import.meta.glob('./*.md', { eager: true }))
  .sort((a: any, b: any) => {
    return new Date(b.frontmatter.pubDate).getTime()
      - new Date(a.frontmatter.pubDate).getTime();
  });
const uniqueTags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
]
---

<Layout title="Blog">
  <section>
    <h1>Blog</h1>
    <h2>Tags</h2>
    <ul>
      {
        uniqueTags.map((tag: string) => (
          <li><a href={'/tags/' + tag}>{tag}</a></li>
        ))
      }
    </ul>
    <h2>Posts</h2>
    <ul>
      {
        allPosts.map((post: any) => (
          <li><a href={post.url}>{post.frontmatter.title}</a></li>
        ))
      }
    </ul>
  </section>
</Layout>
