---
import Layout from '../../layouts/Layout.astro'
import Card from '../../components/Card.astro'
import Link from '../../components/Link.astro'

const allPosts = Object.values(import.meta.glob('./*.md', { eager: true }));
---

<Layout title="blog">
  <section>
    <div class="mb-2">
      <h1 class="mb-2 text-xl font-bold">blog</h1>
    </div>
    <ul class="animated-list grid grid-cols-1 sm:grid-cols-2">
      <Card title="2025">
        {allPosts.map((post: any) => <Link href={post.url} body={post.frontmatter.title} />)}
      </Card>
    </ul>
  </section>
</Layout>
