---
import Layout from '../../layouts/Layout.astro'
import Card from '../../components/Card.astro'
import Link from '../../components/Link.astro'

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob('../blog/*.md', { eager: true }),
  )
  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag),
    )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
const filteredPosts = posts.filter((post: any) =>
  post.frontmatter.tags?.includes(tag),
)
---

<Layout title={'posts tagged with ' + tag}>
  <section>
    <div class="mb-2">
      <h1 class="mb-2 text-xl font-bold">posts tagged with {tag}</h1>
    </div>
    <ul class="animated-list grid grid-cols-1 sm:grid-cols-2">
      <Card title="posts">
        {
          filteredPosts.map((post: any) => (
            <Link href={post.url} body={post.frontmatter.title} />
          ))
        }
      </Card>
    </ul>
  </section>
</Layout>
