---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 - Page not Found - Vollow">
  <section>
    <h1>404 - not found</h1>
    <p>we have nothing here, you might misspelled the url</p>
    <p>
      back to the
      <a href="javascript:history.back()" class="underlined">previous page</a>
    </p>
  </section>
</Layout>
