---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Vollow's Homepage">
  <section>
    <h1>Hi! It's Vollow here</h1>
    <p class="metadata desc">
      <noscript>
        My timezone is UTC+8
      </noscript>
      <span class="time"></span>
      <script is:inline>
        const timeE = document.querySelector('.time');

        const queryTime = () => {
          return new Date().toLocaleString('en-US', {
            timeZone: 'Asia/Shanghai',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            hourCycle: 'h23',
          })
        };

        timeE.textContent = queryTime();
        setTimeout(() => {
          timeE.textContent = queryTime();
          setInterval(() => (timeE.textContent = 'It\'s ' + queryTime()
            + ' now in my timezone'), 1000);
        }, 1000 - new Date().getMilliseconds());
      </script>
    </p>
    <p>My name is Lucas X. Zhao (and Vollow).</p>
    <p>
      I mainly code in C, Go, Zig and frontend stuffs, out of my personal
      interests.
      You can find some of my programs on
      <a href="https://sr.ht/~lucaz/">SourceHut</a> and
      <a href="https://github.com/vollowx/">GitHub</a>.
    </p>
    <p>
      You can contact me through
      <a href="mailto:vollowx@outlook.com">email</a>, and verify them with
      <a href="/vollow.asc">my OpenGPG key</a>.
    </p>
  </section>
  <section>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="./seele/">seele</a> -
        extensible Web Components library, with Material Design 3 components
        pre-provided.
      </li>
      <li>
        <a href="https://github.com/vollowx/gotodo/">gotodo</a> -
        todo manager with cli and web interface
      </li>
      <li>
        <a href="./wp-swayidle/">wp-swayidle</a> -
        <a href="http://github.com/swaywm/swayidle">swayidle</a> manager, kills
        it when there is an audio output
      </li>
      <li>
        <a href="https://github.com/vollowx/bilibili-catppuccin/">
          bilibili-catppuccin</a> - Catppuccin userstyle for BiliBili
      </li>
      <li>
        <a href="https://github.com/catppuccin/nvim/">catppuccin/nvim</a> -
        (maintainer) Catppuccin colorscheme for Neovim
      </li>
      <li>
        <a href="https://vue.misaka-fans.space/">misaka-fans</a> -
        (contributor) fan website for Misaka Mikoto
      </li>
    </ul>
  </section>
</Layout>
