---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Homepage">
  <section>
    <h1>Hi! It's Vollow here</h1>
    <p>
      It's
      <span class="time">UTC+8</span>
      <script is:inline>
        const timeE = document.querySelector('.time');

        const queryTime = () => {
          return new Date().toLocaleString('en-US', {
            timeZone: 'Asia/Shanghai',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            hourCycle: 'h23',
          })
        };

        timeE.textContent = queryTime();
        setTimeout(() => {
          timeE.textContent = queryTime();
          setInterval(() => (timeE.textContent = queryTime()), 1000);
        }, 1000 - new Date().getMilliseconds());
      </script>
      in my timezone.
    </p>
    <p>
      I mainly code in TypeScript (Web), C, Go and Zig, out of my personal
      interests.
      You can find some of my programs on
      <a href="https://sr.ht/~lucaz/">SourceHut</a> and
      <a href="https://github.com/vollowx/">GitHub</a>.
    </p>
    <p>
      You can contact me through
      <a href="mailto:vollowx@outlook.com">email</a>, and verify them through
      <a href="/vollow.asc">my OpenGPG key</a>.
    </p>
  </section>
  <section>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="https://seele.projects.v9.nz/">seele</a> -
        extensible Web Components library, with Material Design 3 components
        pre-provided.
      </li>
      <li>
        <a href="https://github.com/vollowx/gotodo/">gotodo</a> -
        todo manager with cli and web interface
      </li>
      <li>
        <a href="https://github.com/vollowx/wp-swayidle/">wp-swayidle</a> -
        <a href="http://github.com/swaywm/swayidle">swayidle</a> manager, kills
        it when there is an audio output
      </li>
      <li>
        <a href="https://github.com/vollowx/bilibili-catppuccin/">
          bilibili-catppuccin</a> - Catppuccin userstyle for BiliBili
      </li>
      <li>
        <a href="https://github.com/catppuccin/nvim/">catppuccin/nvim</a> -
        (maintainer) Catppuccin colorscheme for Neovim
      </li>
      <li>
        <a href="https://vue.misaka-fans.space/">misaka-fans</a> -
        (contributor) Fan website for Misaka Mikoto
      </li>
    </ul>
  </section>
</Layout>
