---
import Link from './Link.astro'
---

<div>
  <Link href="https://ctp-webr.ing/vollow/previous" body="<--" />
  <Link href="https://ctp-webr.ing/" body="catppuccin webring" />
  <Link href="https://ctp-webr.ing/vollow/next" body="-->" />
</div>
