---
import Link from './Link.astro'
---

<div>
  <Link
    href="https://ctp-webr.ing/vollow/previous"
    body="<--"
    ariaLabel="Previous in Catppuccin Webring"
  />
  <Link href="https://ctp-webr.ing/" body="catppuccin webring" />
  <Link
    href="https://ctp-webr.ing/vollow/next"
    body="-->"
    ariaLabel="Next in Catppuccin Webring"
  />
</div>
