---
interface Props {
  href: string
  body: string
  ariaLabel?: string
}

const { href, body, ariaLabel } = Astro.props
---

<a class="underlined" href={href} aria-label={ariaLabel || body}>{body}</a>
