<div>
  <button class="text-text bg-surface0 px-2 mocha">mocha</button>
  <button class="text-text bg-surface0 px-2 latte">latte</button>
</div>
<script is:inline>
  const setTheme = (color) => {
    document.documentElement.classList.remove(
      'mocha',
      'latte',
    )
    document.documentElement.classList.add(color)
    localStorage.setItem('theme', color)
  }
  setTheme(
    localStorage.getItem('theme') ||
      (window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'mocha'
        : 'latte'),
  )

  document
    .querySelector('button.mocha')
    ?.addEventListener('click', () => setTheme('mocha'))
  document
    .querySelector('button.latte')
    ?.addEventListener('click', () => setTheme('latte'))
</script>
