---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Frontend and C/C++ Developer" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Vollow</title>
  </head>
  <body>
    <div>
      <header style="view-transition-name: header;">
        <a href="/">[home]</a>
        <a href="/blog">[blog]</a>
        <a href="https://git.sr.ht/~lucaz/homepage">[source code]</a>
      </header>
      <main>
        <slot />
      </main>
      <footer style="view-transition-name: footer;">
        <!-- <CatppuccinWebring /> -->
      </footer>
    </div>
  </body>
</html>
<style is:global>
  @view-transition {
    navigation: auto;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: fade 0.24s ease both;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  body {
    font-family: monospace;
  }

  h1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h2 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
</style>
