---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Frontend and C/C++ Developer" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header style="view-transition-name: header;">
      <p>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
      </p>
      <hr />
    </header>
    <main>
      <slot />
    </main>
    <footer style="view-transition-name: footer;">
      <hr />
      <p>
        Copyright © 2025-2026 by Lucas X. Zhao.
        <a href="https://git.sr.ht/~lucaz/homepage">Source</a>.
        <br />
        Licensed under
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
        unless otherwise noted.
      </p>
      <!-- <CatppuccinWebring /> -->
    </footer>
  </body>
</html>
<style is:global>
  @view-transition {
    navigation: auto;
  }

  html, body {
    height: 100%;
  }

  body {
    box-sizing: border-box;
    margin: 0;
    margin-inline: auto;
    padding-inline: 8px;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }

  main {
    flex: 1;
  }

  @media (prefers-color-scheme: dark) {
    hr {
      opacity: 0.5;
    }
  }

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  h2 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  h3 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  a {
    overflow-wrap: break-word;
  }

  .metadata {
    opacity: 0.85;
    margin: 0;
  }
  .metadata.desc {
    margin-top: -1.245rem; /* 1.5rem * 0.83em, the margin of (our) h1 */
    margin-bottom: 1.245rem;
  }
</style>
