---
const { frontmatter } = Astro.props

import Layout from './Layout.astro'
---

<Layout title={frontmatter.title}>
  <section>
    <h1>{frontmatter.title}</h1>
    <p class="metadata">{frontmatter.description}</p>
    <p class="metadata">
      published on {frontmatter.pubDate.toString().slice(0, 10)}
    </p>
    <p class="metadata tags">
      {
        frontmatter.tags.map((tag: string) => (
          <Link href={'/tags/' + tag} body={tag} />
        ))
      }
    </p>
  </section>
  <section class="content">
    <slot />
  </section>
</Layout>

<style is:global>
  .metadata {
    opacity: 0.8;
    margin: 0;
  }
  .metadata.tags {
    display: flex;
    gap: 1rem;
  }
  .content {
    h2 {
      @apply mt-4 mb-2 font-bold;
    }
    p {
      @apply mb-2;
    }
    li {
      @apply list-disc list-inside pl-2;
    }
    p code {
      @apply bg-surface0;
    }
    pre {
      @apply p-4 mb-2;
    }
    a {
      overflow-wrap: break-word;
    }
  }
</style>
