---
const { frontmatter } = Astro.props

import Layout from './Layout.astro'
import { toViewTransitionName } from '../utils/css.ts';
---

<Layout title={frontmatter.title + ' - Vollow'}>
  <section>
    <h1><span style={'view-transition-name: post-title-'
      + toViewTransitionName(frontmatter.title)}>{frontmatter.title}</span></h1>
    <p class="metadata desc">{frontmatter.description}</p>
    <p class="metadata">
      published on {frontmatter.pubDate.toString().slice(0, 10)}
    </p>
    <p class="metadata tags">
      {
        frontmatter.tags.map((tag: string) => (
          <a href={'/tags/' + tag} style={'view-transition-name: tag-'
            + tag}>{tag}</a>
          ))
      }
    </p>
  </section>
  <section class="content">
    <slot />
  </section>
</Layout>

<style is:global>
  .metadata {
    opacity: 0.85;
    margin: 0;
  }
  .metadata.desc {
    margin-top: -1.245rem; /* 1.5rem * 0.83em, the margin of (our) h1 */
    margin-bottom: 1.245rem;
  }
  .metadata.tags {
    display: flex;
    gap: 0.5rem;
  }
</style>
