---
const { frontmatter } = Astro.props

import Layout from './Layout.astro'
---

<Layout title={frontmatter.title}>
  <section>
    <h1>{frontmatter.title}</h1>
    <p class="metadata">{frontmatter.description}</p>
    <p class="metadata">
      published on {frontmatter.pubDate.toString().slice(0, 10)}
    </p>
    <p class="metadata tags">
      {
        frontmatter.tags.map((tag: string) => (
          <a href={'/tags/' + tag}>{tag}</a>
        ))
      }
    </p>
  </section>
  <section class="content">
    <slot />
  </section>
</Layout>

<style is:global>
  .metadata {
    opacity: 0.8;
    margin: 0;
  }
  .metadata.tags {
    display: flex;
    gap: 1rem;
  }
  .content {
    a {
      overflow-wrap: break-word;
    }
  }
</style>
